---
layout: default
title: VI Congrés de Sobirania Tecnològica
---

<br/>
<h1>Estem preparant el SobTec... </h1>
<p>El Congrés de Sobirania Tecnològica, que enguany celebra la seva sisena edició, és un punt de trobada d’activistes, acadèmics, experts i totes aquelles persones interessades en saber com la tecnologia afecta les seves vides. I que pretén estudiar quin és l'impacte social de les tecnologies des d’un punt de vista interdisciplinari i amb una clara voluntat divulgativa. El seu objectiu: acostar la ciutadania a aquest tema i sensibilitzar-la de l’impacte que té sobre els seus drets i llibertats fonamentals.</p>
<p>En algun moment obrirem la inscripció, que no és obligatòria, però ens facilita molt l'organització.</p>
<p>Si voleu estar al dia del SobTec, podeu seguir-nos als nostres canals o apuntar-vos al <a href="/butlleti.html">butlletí</a></p>
<br/>

