---
layout: default
---
<div class="row">
  <div class="calendar-day col-sm-3">
  </div>
  <div class="calendar-activity col-sm-9">
    <div class="activity-header">
      <a href="calendari.ics" class="wiki"><i class="fa fa-calendar fa-1x"></i></a>
      Calendari
    </div>
  </div>
</div>

{% include activity.html param="benvinguda" %}
{% include activity.html param="sobiranies" %}

<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>11.30h a 12.30h</h2>
  </div>
  {% include activity_small.html param="robots" %}
  {% include activity_small.html param="trobada" %}
</div>
{% include activity.html param="descans" %}
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>13.00h a 14.00h</h2>
  </div>
  {% include activity_small.html param="inteligencia" %}
  {% include activity_small.html param="censura" %}
</div>
{% include activity.html param="dinar" %}
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>15.30h a 16.30h</h2>
  </div>
  {% include activity_small.html param="plataforma" %}
  {% include activity_small.html param="blockchain" %}
</div>
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>16.30h a 17.30h</h2>
  </div>
  {% include activity_small.html param="gamificacio" %}
  {% include activity_small.html param="netneutrality" %}
</div>
<div class="row">
  <div class="calendar-day col-sm-3">
    <h2>17.30h a 18.30h</h2>
  </div>
  {% include activity_small.html param="trobada2" %}
  {% include activity_small.html param="llicencies" %}
</div>
{% include activity.html param="revolucio" %}

<div class="row">
  <p class="col-xs-12">
  * Hi haurà servei de ludoteca amb activitats organitzades. Si el necessites, <a href="http://vine.sobtec.cat" target="_blank">inscriu-te</a> al Congrés.
  </p>
</div>
