.comments
    center(rem(800px))
    padding 0 rem(20px)
    h3
        margin 0 0 rem(30px)
        font-size rem(30px)

footer
    background main
    padding rem(25px) 0
    margin-top 100px
    p,a
        text-decoration none
        mainFont(300)
        color sec
        margin 0
    a:hover
        color #990000
