---
layout: default
---

<div class="calendar-day row">
  <h1>Inscriu-te</h1>
</div>
<div class="calendar-day row">
  <p>Per facilitar l'organització de l'esdeveniment us demanem que formalitzeu la vostra inscripció enviant-nos un correu electrònic (a <a href="mailto:inscripcions@sobtec.cat">inscripcions@sobtec.cat</a>) amb les dades següents:</p>
  <br>
  <ul>
    <li>El teu nom</li>
    <li>Quins dies assistiràs al Congrés</li>
    <li>Si necessites el servei de ludoteca</li>
    <li>Si estàs interessat/da en rebre informació sobre les properes reunions del grup promotor</li>
  </ul>
</div>
