<header>
  <div class="container">
    <div class="title">
      <h1>
        <a href="/">V Congrés de Sobirania Tecnològica</a>
      </h1>
      <div class="subheading">
        <b>Dissabte 29 de febrer de 2020</b><br />
        <b>La Lleialtat Santsenca</b>
      </div>
    </div>
    <div class="navigationbar">
      <ul>
        <li {% if page.url == '/' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/">Programa</a>
        </li>
        <li {% if page.url == '/manifest.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/manifest.html">Manifest</a>
        </li>
        <li{% if page.url == '/inscriute.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/inscriute.html">Inscriu-te</a>
        </li>
        <li{% if page.url == '/butlleti.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/butlleti.html">Butlletí</a>
        </li>
        <li {% if page.url == '/grup_promotor.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/grup_promotor.html">Grup promotor</a>
        </li>
        <li {% if page.url == '/edicions_anteriors.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/edicions_anteriors.html">Edicions anteriors</a>
        </li>
      </ul>
    </div>
  </div>
</header>
