---
layout: default
title: V Congrés de Sobirania Tecnològica
---
<br/>
El Congrés de Sobirania Tecnològica, que enguany celebra la seva cinquena edició, és un punt de trobada d’activistes, acadèmics, experts i totes aquelles persones interessades en saber com la tecnologia afecta les seves vides. I que pretén estudiar quin és l'impacte social de les tecnologies des d’un punt de vista interdisciplinari i amb una clara voluntat divulgativa. El seu objectiu: acostar la ciutadania a aquest tema i sensibilitzar-la de l’impacte que té sobre els seus drets i llibertats fonamentals.
<br/>

<div class="agenda-item">
  <div class="time">
    <h2>10:00</h2>
  </div>
  <div class="talks">
    {% include talk.html param="benvinguda" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>10:30</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_1" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>11:30</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_2" %}
    {% include talk.html param="xerrada_3" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>12:30</h2>
  </div>
  <div class="talks">
    {% include talk.html param="descans" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>13:00</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_4" %}
    {% include talk.html param="xerrada_5" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>14:00</h2>
  </div>
  <div class="talks">
    {% include talk.html param="dinar" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>15:15</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_6" %}
    {% include talk.html param="xerrada_7" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>16:15</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_8" %}
    {% include talk.html param="xerrada_9" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>17:15</h2>
  </div>
  <div class="talks">
    {% include talk.html param="descans" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>17:30</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_10" %}
    {% include talk.html param="xerrada_11" %}
  </div>
</div>

<div class="agenda-item">
  <div class="time">
    <h2>18:30</h2>
  </div>
  <div class="talks">
    {% include talk.html param="xerrada_12" %}
  </div>
</div>
