{% comment %}
- Take the info from _data/talks.yml
{% endcomment %}
{% assign info = site.data.talks | where: 'slug',include.param | first %}

<div class="talk">
  <h2>{{ info.title }}</h2>
  {% if info.space != "" and info.space != nil %}
    <p>{{ info.space }}</p>
    {% endif %}
  <hr />
  {% if info.desc != "" and info.desc != nil %}
  <div>
    <div>{{ info.desc }}</div>
    
    <p>
      {% if info.pad != "" and info.pad != nil %}
      - <a href="{{ info.pad }}" target="_blank">apunts</a>
      {% endif %}
      {% if info.presentation != "" and info.presentation != nil %}
      - <a href="{{ info.presentation }}" target="_blank">presentació</a>
      {% endif %}
      {% if info.video != "" and info.video != nil %}
      - <a href="{{ info.video }}" target="_blank">vídeo</a>
      {% endif %}
      {% if info.teixidora != "" and info.teixidora != nil %}
      - <a href="{{ info.teixidora }}" target="_blank">buidatge a Teixidora</a>
      {% endif %}
    </p>
  </div>
  {% endif %}
</div>
