header {
	background-color: #9E186E;
	margin: 0;
	padding: 10px;
  display: block;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .title {
  max-width: 330px;
}

header .navigationbar {
  max-width: 400px;
  text-align: left;
}

header h1 a {
	font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	font-size:1.5em;
  text-decoration: none;
  background: transparent;
  color: #fff;
  line-height: 1.1;
}

header h1 a:hover {
	color:#EFDED3;
	text-decoration: none;
}

header .subheading {
  color: #F07E2A;
  font-size: 26px;
}

header ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}

header ul li {
  margin-bottom: 13px;
}

header li a {
	color:#fff;
  font-size: 38.5px;
  font-weight: bold;
}

header li.active a {
  color: #F07E2A;
}

@media all and (max-width:$media-break-point) {
  header .container {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
	header .subheading {
		font-size: 1.1em;
	}

	header .navigationbar {
		margin-top: 20px;
	}

	header .navigationbar li a {
		font-size: 1em;
	}

}
