<footer>
  <div>
    <span>web feta amb</span> <a href="http://jekyllrb.com/" target="_blank"><img src="{{ site.baseurl }}/img/jekyll-logo-black-transparent.png" alt="Logotip Jekyll" width="100" /></a>
    <span>i el template de Willian Justen</span> <a href="https://github.com/willianjusten/will-jekyll-template" target="_blank"><img src="{{ site.baseurl }}/img/template-icon.png" alt="Logotip willianjusten" width="100" /></a>
    <span>aquí tens el codi</span> <a href="http://gitlab.sobtec.cat" target="_blank"><img src="{{ site.baseurl }}/img/gitlab-icon.png" alt="Logotip gitlab" width="100" /></a>
  </div>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
