---
layout: default
---

<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    {% for post in site.posts %}
        <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
                <a class="author-item" href="{{ post.url | prepend: site.baseurl }}">
                    <meta itemprop="datePublished" content="{{post.date}}">
                    <div class="icon">
                      <svg class="icon-person"><use xlink:href="#{{ post.icon }}"></use></svg>
                    </div>
                    <div class="author-info">
                      <span class="name">{{ post.author_name }}</span>
                      <span class="info">{{ post.author_info }}</span>
                    </div>
                    <div>
                      <time datetime="{{ post.date | date_to_xmlschema }}">
                          <span class="month-year">
                              {{ post.date | date: "%d %B %Y" }}
                          </span>
                      </time>
                    </div>
                </a>
                <div class="content">
                    <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
                    <p class="description">
                        {{ post.content | strip_html | truncatewords:40 }}
                    </p>

                    <div class="tags">
                        {% for tag in post.tags %}
                            <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
        </article>
    {% endfor %}
</main>
