<header>
  <div class="container">
    <div class="title">
      <h1>
        <a href="/">VI Congrés de Sobirania Tecnològica</a>
      </h1>
      
      <div class="subheading">
        <b>Dissabte 2 de març de 2024</b><br/>
        <b>Hangar</b>
      </div>
    
    </div>
    <div class="navigationbar">
      <ul>
        <li {% if page.url == '/programa' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/programa">Programa {{ site.year }}</a>
        </li>
        <li {% if page.url == '/inscriute' %} class="active" {%endif %}>
          <a href="{{ site.baseurl }}/inscriute">Inscriu-te</a> 

        </li>
        
      <hr>
        <li {% if page.url == '/manifest.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/manifest.html">Manifest</a>
        </li>
        <li {% if page.url == '/grup_promotor.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/grup_promotor.html">Grup promotor</a>
        </li>           
        <li{% if page.url == '/butlleti.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/butlleti.html">Butlletí</a>
        </li>
        <hr>
        <li {% if page.url == '/edicions_anteriors.html' %} class="active" {% endif %}>
          <a href="{{ site.baseurl }}/edicions_anteriors.html">Edicions anteriors</a>
        </li>
      </ul>
    </div>
  </div>
</header>
