<!DOCTYPE html>
<html lang="ca">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="container">
      <h1> {{page.title}}</h1>
        {{ content }}

        <h2>Etiquetes</h2>
        <ul style="list-style:none;display:flex; padding-left: 0px;">
        {% for tag in page.tags %}<li style="padding-left:6px">#{{tag}} </li>
        {% endfor %}
        </ul>
        <h2>Xerrada a càrrec de</h2>
        <b>{{ page.ponent }}</b><br/>
        <p>{{ page.ponent-description }}</p>
        <div class="xarxes">
        {% if page.ponent-link != null %}<a href="{{ page.ponent-link }}" target="_blank">
          <img src="{{site.baseurl}}/assets/icons/link-solid.svg" alt="Enllaç al projecte" width="50px"/></a>
        {% endif %}
        {% if page.ponent-mastodont != null %}<a href="/{{ page.ponent-mastodont }}" target="_blank">
          <img src="{{site.baseurl}}/assets/img/Mastodon_icon.png" alt="Enllaç al mastodon del projecte" width="40px"/></a>
        {% endif %}
        {% if page.ponent-twitter != null %}<a href="https://twitter.com/{{ page.ponent-twitter }}" target="_blank">
          <img src="{{site.baseurl}}/assets/icons/twitter-brands.svg" alt="Enllaç al twitter del projecte" width="40px"/></a>
        {% endif %}
        </div>

    </div>

    {% include footer.html %}

  </body>

</html>
