---
---


/* Our variables */
$base-font-family: "Archivo Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$image-background: ("{{ site.baseurl }}/img/background.png");
$image-background-asterisks: ("{{ site.baseurl }}/img/asterisk-border-image.png");

$spacing-unit:     30px;

$text-color: #231f20;
$background-color: #fdfdfd;
$brand-color:      #231f20;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width: 800px;

$on-palm: 600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
 @mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)*/
@import "layout";
@import "base";
@import "syntax-highlighting";
@import "estils";