.base  {
  max-width:55%;
  float:left;
  padding-right: 1%;;
}
.smallroom{
  max-width:38%;
  float:right;
  padding-top: 50%;
}
.frame {
  width:100%;
}
.frame:after {
  display:table;
  clear:both;
  content: "";
}
.agenda {
  max-width: 600px;
}
.agenda-item {
  display: flex;
  align-items: baseline;
}

.agenda-item h2 {
    display: inline;
    font-family: DIN, "Archivo Narrow", Helvetica, Arial, sans-serif;
    line-height: 20px;
}

.agenda-item .time {
  max-width: 300px;
  margin-top: 30px;
}

.agenda-item .talks .talk {
  padding: 20px;
  flex: 1;

}

.talks{
  width: 100%;
}
.agenda-item .talk hr {
    border-top: 0;
    border-bottom: 3px dashed $secondary-year-color;
    background: none;
    margin-bottom: 0px;
    margin-top: 30px;

}

.talk-side {
  max-width: 500px;
}

@media all and (max-width:$media-break-point) {
  .agenda-item {
    flex-direction: column;
  }

  .agenda-item .time {
    font-size: 30px;
    line-height: 30px;
  }

  .agenda-item .talk {
    flex-direction: column;
  }

}

@media print {
body {
    h1 {
    font-size: 0.9em;
    margin-top:0px
    }
  
  .container h2 {
    font-size: 0.8em;
  }

  p {
    font-size: 0.6em;
  }

 .agenda-item .time {
    display: inline;
    flex-direction: column;
    margin-top: 10px;
    font-size: 0.8em;
  }


}
.container {
  .agenda-item {
    display: inline-felx;
  }
}
}