<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 segueixnos">
        <h1>Segueix-nos</h1>
        <div class="row">
          <div class="col-xs-4"><a href="mailto:{{ site.email }}"><i class="fa fa-envelope-o fa-2x"></i></a></div>
          <div class="col-xs-4"><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></div>
          <div class="col-xs-4"><a href="https://www.facebook.com/{{ site.facebook_username }}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></div>
          <!--<div class="col-sm-4"><i class="fa fa-youtube fa-3x"></i></div>-->
        </div>
      </div>
      <div class="col-sm-5 direccio">
        <h1>Repensem el model de ciutat.</h1>
        <h4>www.sobtec.cat</h4>
        <address>
          <p class="location">Facultat de Biblioteconomia i Documentació de la UB.</p>
          <p>C/Melcior de Palau, 140,</p>
          <p>08014 BCN</p>
          <p>(19 i 20 febrer 2016)</p>
        </address>
      </div>
      <div class="col-sm-3 organitza">
        <h1>Organitza</h1>
        <img src="{{ site.baseurl }}/img/grup_promotor.png" alt="Logotip Grup Promotor Congrés Sobirania Tecnologica" />
      </div>
    </div>
  </div>
  <div class="background"></div>
</footer>
<div id="img-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"></div>
  </div>
</div>

<!-- JS -->
<script src="{{ site.baseurl }}/assets/js/jquery-3.7.1.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/popper.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<script type="text/javascript">
$(function () {
  //Initalize tooltip & carrousel
  $('[data-toggle="tooltip"]').tooltip();
  $('[data-toggle="popover"]').popover({
    container: 'body',
    html: true,
    placement: 'top',
    trigger: 'click hover'
  });

  //Randomize header texts
  for (var $x=$("#movetxt .movetxt-str"), i=$x.length-1, j, temp; i>=0; i--) { j=Math.floor(Math.random()*(i+1)), temp=$x[i], $x[i]=$x[j], $x[j]=temp; }
  $x.each(function(i, li) { $("#movetxt p").append(li); });

  {% if page.url == '/cartells' %}
  //Images in modals
  $('#img-modal').on('show.bs.modal', function (event) {
    var img = $(event.relatedTarget).clone(),
      modal = $(this);
      modal.find('.modal-content').html(img);
  });
  {% endif %}
});
</script>

{% if page.url == '/quatre_jornades' %}

<link rel="stylesheet" href="{{ '/assets/css/fullcalendar.css' | prepend: site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/css/jquery.qtip.css' | prepend: site.baseurl }}">
<link rel="stylesheet" media="print" href="{{ '/assets/css/fullcalendar.print.css' | prepend: site.baseurl }}">

<script src="{{ '/assets/js/jquery.qtip.min.js'| prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/moment.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/moment-with-locales.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/fullcalendar.js' | prepend: site.baseurl }}"></script>


<script type="text/javascript">
  $(function () {
    //Initalize tooltip & carrousel
    $('#calendar1').fullCalendar({
      columnFormat: 'D/M',
      header: {
        left:'',
        center: '',
        right:''
      },
      defaultView: 'agendaTwoDay',
      defaultDate: '2016-02-19',
      minTime: '09:30:00',
      maxTime: '22:00:00',
      views: {
        agendaTwoDay: {
          type: 'agendaWeek',
          duration: {
            days: 2
          },
          weekNumbers: false,
          allDaySlot: false,
        }
      },
      events: {{ site.data.calendar | jsonify }},
      eventRender: function(event, element) {
          element.qtip({
               content: "<b>" + event.title + "</b><br \>" + event.description
          });
      }
    });
    $('#calendar2').fullCalendar({
        columnFormat: 'D/M',
        header: {
          left:'',
          center: '',
          right:''
        },
        defaultView: 'agendaTwoDay',
        defaultDate: '2016-02-21',
        minTime: '11:30:00',
        maxTime: '21:30:00',
        views: {
          agendaTwoDay: {
            type: 'agendaWeek',
            duration: {
              days: 3
            },
            weekNumbers: false,
            allDaySlot: false,
          }
        },
        events: {{ site.data.calendar | jsonify }},
        eventRender: function(event, element) {
            element.qtip({
                 content: "<b>" + event.title + "</b><br \>" + event.description
            });
        }
    });
    $('#calendar3').fullCalendar({
        columnFormat: 'D/M',
        header: {
          left:'',
          center: '',
          right:''
        },
        defaultView: 'agendaTwoDay',
        defaultDate: '2016-02-24',
        minTime: '08:30:00',
        maxTime: '16:30:00',
        views: {
          agendaTwoDay: {
            type: 'agendaWeek',
            duration: {
              days: 1
            },
            weekNumbers: false,
            allDaySlot: false,
          }
        },
        events: {{ site.data.calendar | jsonify }},
        eventRender: function(event, element) {
            element.qtip({
                 content: "<b>" + event.title + "</b><br \>" + event.description
            });
        }
    });
  });
</script>


{% endif %}
